version: "3.9"

services:

  backend:
    build:
      context: ./backend
    container_name: backend-api
    ports:
      - "5000:5000"
    environment:
      - SERVER_PORT=5000
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: http://localhost:5000/api/todos
    container_name: frontend-app
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
